<h1>Dashboard</h1>

<h2>Contracts</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.title %></td>
        <td><%= contract.description %></td>
        <td><%= link_to 'Show', contract %></td>
      </tr>
    <% end %>
  </tbody>
</table>